
/*border*/
.bd0{border:0 !important;}
/*MARGIN*/
.mauto {margin:0 auto !important}
.ma0 {margin:0 !important}
.m10 {margin:10px !important}
.mr0 {margin-right:0 !important}.mr5{margin-right:5px !Important}.mr10 {margin-right:10px !important}
.mr15 {margin-right:15px !important}.mr20 {margin-right:20px !important}.mr25 {margin-right:25px !important}
.mr30 {margin-right:30px !important}.mr40 {margin-right:40px !important}.mr50 {margin-right:50px !important}
.mt0 {margin-top:0 !important}.mt5 {margin-top:5px !important}.mt10 {margin-top:10px !important}
.mt15 {margin-top:15px !important}.mt20 {margin-top:20px !important}.mt25 {margin-top:25px !important}
.mt30 {margin-top:30px !important}.mt40 {margin-top:40px !important}.mt50 {margin-top:50px !important}
.ml0 {margin-left:0 !important}.ml5 {margin-left:5px !important}.ml10 {margin-left:10px !important}
.ml15 {margin-left:15px !important}.ml20 {margin-left:20px !important}.ml25 {margin-left:25px !important}
.ml30 {margin-left:30px !important}.ml40 {margin-left:40px !important}.ml50 {margin-left:50px !important}

.mb0 {margin-bottom:0 !important}.mb5 {margin-bottom:5px !important}.mb10 {margin-bottom:10px !important}
.mb15 {margin-bottom:15px !important}.mb20 {margin-bottom:20px !important}.mb25 {margin-bottom:25px !important}
.mb30 {margin-bottom:30px !important}.mb40 {margin-bottom:40px !important}.mb50 {margin-bottom:50px !important}

.header h1.logo{width:auto; height:auto; position:relative; top:8px;}
.w2popup_window.fix{height:225px !important;}
.w2input_readonly, .w2input_readonly:focus{background:#fff !important; color:#20252a !important; border:0 !important}
.w2inputCalendar_divInput{text-indent:-15px;}

.edbox{position:relative; margin:0px; flex:auto; flex-grow: 20;}
.edbox .w2editor{min-height:calc(100% - 100px);height:100%;}
.sch.edbox .w2editor, .sch.edbox{height:100% !important;} 
.w2editor .cke[role="application"]{width:100% !important; height:100% !important;}
.w2editor .cke_contents{flex:auto; height:100% !important;}
.edbox .cke_inner.cke_reset{display: flex;   flex-direction: column; height:100%}
.w2editor .cke_top{padding: 6px 8px 6px !important;}
.w2editor.read .cke_top, .w2editor.read .cke_bottom{display:none}
.btn_color{border-radius:5px;border:0;width:100%;margin-right:7px}
.li_color{width: calc(50% - 2.5px);  display: inline-block;  cursor: pointer;  color: #fff;  height: 45px;  font-size: 20px;  text-align: center;  padding: 10px;  box-sizing: border-box;  border-radius: 10px; margin-bottom: 5px;  line-height: 24px;}
.li_color:nth-child(2n){margin-left:5px;}
.li_color:last-child{margin-bottom:0;}
.btn_cm.blue, .btn_cm.blue:active, .btn_cm.blue:active:hover{ background-color: #2d5277;  color: #Fff;  border: 1px solid #2d5277;}
.fullcalendar{height:100%;}
.fullcalendar .cke_editor{width:100% !important}
.fullcalendar .fc-view-harness{height:100% !important}
.fullcalendar table[role="presentation"].fc-col-header{width:100% !important;}
.fullcalendar .fc-daygrid-body{width:100% !important; height:100% !important;}
.fullcalendar table[role="presentation"].fc-scrollgrid-sync-table{width:100% !important; height:100% !important;}
.fullcalendar.fc .fc-toolbar.fc-header-toolbar{margin:5px 0}
.fullcalendar .fc-view-container{height:100% }
.fullcalendar .fc-view, .fullcalendar .fc-view > table{height:100%}
.fullcalendar .fc-day-grid-container{height:100% !important;}
.fc-day-grid{height:100%;}
.fullcalendar .fc-week.fc-widget-content.fc-rigid{height:calc(100% / 6) !important;}
.fullcalendar .fc-basic-view .fc-body .fc-row {min-height: unset;}
.fullcalendar .fc-day-grid-event{height:16px !important; overflow:hidden;}
.fullcalendar .fc-day-grid-event .fc-time{display:none}

.fullcalendar.fc .fc-day-header.fc-sun:after{content: "일"}
.fullcalendar.fc .fc-day-header.fc-mon:after{content: "월"}
.fullcalendar.fc .fc-day-header.fc-tue:after{content: "화"}
.fullcalendar.fc .fc-day-header.fc-wed:after{content: "수"}
.fullcalendar.fc .fc-day-header.fc-thu:after{content: "목"}
.fullcalendar.fc .fc-day-header.fc-fri:after{content: "금"}
.fullcalendar.fc .fc-day-header.fc-sat:after{content: "토"}
.w2calendar_picker_content table td div{width:calc(33% - 3px)}
.w2calendar.w2calendar_classYearMonth_dynamic.w2inputCalendar_calendar{height:232px;}