<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="M">
 	    <select id="selectAnyList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
 			SELECT * from MT_LETTCCMMNDETAILCODE 
		</select>
		
		<select id="selectBoardList" parameterType="java.util.Map" resultType="java.util.HashMap">
		/*selectBoardList 게시물 목록조회*/
	    		SELECT 
		        	A.BOARD_PIDX, 
		        	A.BOARD_IDX, 
		        	A.BOARD_DELYN, 
		        	A.BOARD_TITLE, 
		        	A.BOARD_WRITER, 
		        	DATE_FORMAT(A.BOARD_DATE, '%Y-%m-%d %H:%i:%s') as BOARD_DATE ,
		        	DATE_FORMAT(A.UPDATE_DATE,  '%Y-%m-%d %H:%i:%s') as UPDATE_DATE ,
		        	A.BOARD_TYPE,
		        	COUNT(F.CONTENT_ID) AS CNT,
		        	A.BOARD_REPLYCNT
				FROM ${BOARD_TABLE} A 
				LEFT OUTER JOIN ${BOARD_FILE_TABLE} F ON A.BOARD_IDX = F.CONTENT_ID
				
				WHERE 1=1
				AND A.BOARD_DELYN = 'N'
				AND A.BOARD_TYPE = #{BOARD_TYPE}
				<if test="BOARD_WRITER != null and BOARD_WRITER != ''">
		            AND A.BOARD_WRITER like CONCAT('%', #{BOARD_WRITER}, '%')
		        </if>
		        <if test="BOARD_CONT_LIST != null and BOARD_CONT_LIST != ''">
		        	AND (
					<foreach collection="BOARD_CONT_LIST" item="cont" index="K" separator="OR">
						A.BOARD_CONT like CONCAT ('%', #{cont}, '%')
					</foreach>
					)
				</if>
		        <![CDATA[
		        AND A.BOARD_DATE >= STR_TO_DATE(CONCAT(#{FROM},' 00:00:00'), '%Y%m%d %H:%i:%s') AND A.BOARD_DATE <= STR_TO_DATE(CONCAT(#{TO},' 23:59:59'), '%Y%m%d %H:%i:%s')
		        ]]>
		        GROUP BY A.BOARD_IDX
		        ORDER BY A.UPDATE_DATE DESC, A.BOARD_DATE DESC
		        
		        <choose>
					<when test="(OFFSET_ROW != null and !OFFSET_ROW.equals('')) and (PAGE_SIZE != null and !PAGE_SIZE.equals(''))" ><![CDATA[
						limit #{OFFSET_ROW}    ,     #{PAGE_SIZE}
					]]></when>
					<when test="OFFSET_ROW == null" ><![CDATA[

					]]></when>
				</choose>
    </select>
    
    <select id="selectBoardInfo" parameterType="java.util.Map" resultType="java.util.HashMap">
  	  /*selectBoardInfo 게시물 단건조회*/
         SELECT
            A.BOARD_IDX, 
            A.BOARD_TITLE, 
            A.BOARD_CONT, 
            A.BOARD_WRITER,
            DATE_FORMAT(A.BOARD_DATE, '%Y-%m-%d  %H:%i:%s') AS BOARD_DATE
        FROM ${BOARD_TABLE} A
        WHERE 1=1
        <if test="BOARD_IDX != null and BOARD_IDX != ''">
            AND A.BOARD_IDX = #{BOARD_IDX}
        </if>
    </select>
    
    <select id="selectBoardFileList" parameterType="java.util.Map" resultType="java.util.HashMap">
    	/*selectBoardFileList 게시판첨부파일조회*/
        SELECT *
        FROM ${BOARD_FILE_TABLE} A
        WHERE 1=1
        <if test="BOARD_IDX != null and BOARD_IDX != ''">
            AND A.CONTENT_ID = #{BOARD_IDX}
        </if>
        ORDER BY A.FILE_IDX ASC
    </select>

    <insert id="insertBoardInfo" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="BOARD_IDX">
   		 /*insertBoard 게시물 작성*/
           INSERT INTO ${BOARD_TABLE}(
           	BOARD_DELYN,
           	BOARD_TYPE,
            BOARD_TITLE,
            BOARD_CONT,
            BOARD_WRITER,
            BOARD_DATE,
            UPDATE_DATE
           )VALUES (
          		'N',
          		#{BOARD_TYPE},
			#{BOARD_TITLE},
            #{BOARD_CONT},
            #{BOARD_WRITER},
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP
           )
    </insert>
        
    <insert id="insert__T_FILE" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="FILE_IDX">
   		 /*"insertT_FILE" 파일등록*/
           INSERT INTO `T_FILE` 
           (
           `FILE_IDX`, `CONTENT_ID`, `FILE_NAME`, `FILE_PATH_SUB`, `FILE_PATH_PARENT`, `FILE_SIZE`, 
           `FILE_ID`, `FILE_DESC`, `THUMBNAIL`, `UPLOAD_SYS`
           ) 
           VALUES
			(
			#{FILE_IDX}, #{CONTENT_ID}, #{FILE_NAME}, #{FILE_PATH_SUB}, #{FILE_PATH_PARENT}, #{FILE_SIZE}, 
			#{FILE_ID}, #{FILE_DESC}, #{THUMBNAIL}, #{UPLOAD_SYS}
			)
		<selectKey keyProperty="FILE_IDX" resultType="string" order="BEFORE">
			select max(FILE_IDX)+1 from T_FILE
		</selectKey>
    </insert>    
    <delete id="delete__T_FILE" parameterType="map">
        /*delete T_FILE 물리삭제*/
      	DELETE FROM T_FILE
		WHERE 1=1
		AND CONTENT_ID = #{CONTENT_ID}
		<if test="FILE_IDX != null and FILE_IDX != ''">
			AND FILE_IDX = #{FILE_IDX}
		</if>
    </delete>
    <update id="update__T_FILE" parameterType="java.util.Map">
         /*updateT_FILE 파일설명수정*/
         UPDATE T_FILE SET 
            FILE_DESC = #{FILE_DESC}
         WHERE 1=1
         AND FILE_IDX=#{FILE_IDX}
         AND CONTENT_ID=#{CONTENT_ID}
    </update>			
	
        
    <update id="updateBoardInfo" parameterType="java.util.Map">
         /*updateBoardInfo 게시물수정*/
         UPDATE ${BOARD_TABLE} SET 
            BOARD_TYPE = #{BOARD_TYPE},
            <if test="BOARD_DELYN != null and BOARD_DELYN != ''">
            	BOARD_DELYN = #{BOARD_DELYN},
            </if>

            BOARD_TITLE = #{BOARD_TITLE},
            BOARD_CONT = #{BOARD_CONT},
            BOARD_WRITER = #{BOARD_WRITER},
            UPDATE_DATE = CURRENT_TIMESTAMP
         WHERE 1=1
         AND BOARD_IDX=#{BOARD_IDX}
    </update>
        
    <delete id="deleteBoard" parameterType="map">
        /*deleteBoard 게시물 물리삭제*/
        		DELETE FROM ${BOARD_TABLE}
				WHERE 1=1
  				AND BOARD_IDX=#{BOARD_IDX}
    </delete>
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
     <select id="selectScheduleList" parameterType="java.util.Map" resultType="java.util.HashMap">
    	/*selectScheduleList 스케줄러 조회*/
		SELECT
			SCH_IDX,
			case
			    when SCH_SUCCESSYN= 'Y' then CONCAT('✔',SCH_TITLE)		
			    else SCH_TITLE
			END AS SCH_TITLE2,
			SCH_TITLE,
			SCH_CONT,
			SCH_WRITER,
			SCH_CREATE_DTTM,
			SCH_CURRENTMONTH,
			SCH_START,
			SCH_END,
			DATE_ADD(SCH_START, INTERVAL 9 HOUR) AS SCH_START_UTC,
			DATE_ADD(SCH_END, INTERVAL 9 HOUR) AS SCH_END_UTC,
			SCH_COLOR ,
			SCH_COLOR AS FUL_COLOR,
			SCH_DELYN,
			SCH_SENDYN,
			SCH_SUCCESSYN
		FROM MT_SCHEDULE
		WHERE 1=1
		AND SCH_DELYN = 'N'
		AND (SCH_CURRENTMONTH = #{SCH_CURRENTMONTH_PREV} OR SCH_CURRENTMONTH = #{SCH_CURRENTMONTH} OR SCH_CURRENTMONTH = #{SCH_CURRENTMONTH_NEXT} )
		<if test="SCH_TODAY != null and SCH_TODAY != ''">
            AND SCH_START like CONCAT('%', #{SCH_TODAY}, '%')
        </if>
    </select>
   	<select id="selectScheduleInfo" parameterType="java.util.Map" resultType="java.util.HashMap">
    	/*selectScheduleInfo 스케줄러 단건조회*/
        SELECT
            SCH_IDX, 
            SCH_TITLE, 
            SCH_CONT, 
            SCH_WRITER,
            SCH_CURRENTMONTH,
            SCH_COLOR,
            SCH_SUCCESSYN,
            DATE_FORMAT(SCH_CREATE_DTTM, '%Y-%m-%d  %H:%i:%s') AS SCH_CREATE_DTTM,
            DATE_FORMAT(SCH_START, '%Y-%m-%d  %H:%i:%s') AS SCH_START,
            DATE_FORMAT(SCH_END, '%Y-%m-%d  %H:%i:%s') AS SCH_END
        FROM MT_SCHEDULE
        WHERE 1=1
        AND SCH_IDX = #{SCH_IDX}
    </select>
    
    <insert id="insertSchedule" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="SCH_IDX">
        /*insertSchedule 스케줄러 작성*/
            INSERT INTO MT_SCHEDULE(
            	SCH_IDX,
            	SCH_TITLE,
           		SCH_CONT,
	            SCH_WRITER,
	            SCH_CREATE_DTTM,
	            SCH_CURRENTMONTH,
	            SCH_START,
	            SCH_END,
	            SCH_COLOR,
	            SCH_DELYN,
	            SCH_SENDYN,
	            SCH_SUCCESSYN
            )VALUES (
            	#{SCH_IDX},
           		CONCAT(#{SCH_TITLE},'---',CAST(#{SCH_IDX} AS CHAR)),
           		#{SCH_CONT},
				#{SCH_WRITER},
	           	CURRENT_TIMESTAMP,
	            #{SCH_CURRENTMONTH},
	            #{SCH_START},
	            #{SCH_END},
	            #{SCH_COLOR},
	            'N',
	            'N',
	            'N'
	          
            )
        <selectKey keyProperty="SCH_IDX" resultType="string" order="BEFORE">
        	/* selectKey in insertSchedule */
			select max(SCH_IDX)+1 from MT_SCHEDULE
		</selectKey>
    </insert>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <insert id="INS_SCHEDULE" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="SCH_IDX">
        /*insertT_SCHEDULE*/
    	INSERT INTO mocaerp.T_SCHEDULE
		(
			SCH_WRITER, SCH_START, SCH_IDX, 
			SCH_TITLE, SCH_CONT, SCH_CREATE_DTTM, SCH_CURRENTMONTH, 
			SCH_START_TIME, SCH_END, SCH_END_TIME, SCH_COLOR, 
			SCH_DELYN, SCH_SUCCESSYN, SCH_SENDYN
		)
		VALUES(
			#{SCH_WRITER}, #{SCH_START}, #{SCH_IDX}, 
			#{SCH_TITLE}, #{SCH_CONT}, CURRENT_TIMESTAMP, #{SCH_CURRENTMONTH}, 
			'', '', '', '',
			'N', 'N', 'N'
		);
        <selectKey keyProperty="SCH_IDX" resultType="string" order="BEFORE">
        	/* selectKey in INS_SCHEDULE */
			SELECT NVL(MAX(SCH_IDX)+1,1) FROM T_SCHEDULE
			WHERE 1=1
			AND SCH_WRITER 	= #{SCH_WRITER}
			AND SCH_START 	= #{SCH_START}
		</selectKey>
    </insert>
    <select id="SEL_SCHEDULELIST" parameterType="java.util.Map" resultType="java.util.HashMap">
    	/*SEL_SCHEDULELIST*/
		SELECT
			SCH_IDX,
			case
			    when SCH_SUCCESSYN= 'Y' then CONCAT('✔',SCH_TITLE)		
			    else SCH_TITLE
			END AS SCH_TITLE2,
			SCH_TITLE,
			SCH_CONT,
			SCH_WRITER,
			SCH_CREATE_DTTM,
			SCH_CURRENTMONTH,
			SCH_START,
			
			SCH_START_TIME,
			SCH_END,
			SCH_END_TIME,
  
			SCH_COLOR ,
			SCH_COLOR AS FUL_COLOR,
			SCH_DELYN,
			SCH_SENDYN,
			SCH_SUCCESSYN
		FROM T_SCHEDULE
		WHERE 1=1
		AND SCH_DELYN = 'N'
		AND (SCH_CURRENTMONTH = #{SCH_CURRENTMONTH_PREV} OR SCH_CURRENTMONTH = #{SCH_CURRENTMONTH} OR SCH_CURRENTMONTH = #{SCH_CURRENTMONTH_NEXT} )
    </select>



    
    <update id="updateSchedule" parameterType="java.util.Map">
         /*updateScheduleInfo 스케줄러 수정*/
         UPDATE MT_SCHEDULE SET 
            SCH_CONT = #{SCH_CONT},
            SCH_TITLE = #{SCH_TITLE},
            SCH_START = #{SCH_START},
            SCH_END = #{SCH_END},
            SCH_WRITER = #{SCH_WRITER},
             <if test="SCH_DELYN != null and SCH_DELYN != ''">
            	SCH_DELYN = #{SCH_DELYN},
            </if>
            SCH_SUCCESSYN = #{SCH_SUCCESSYN},
            SCH_COLOR = #{SCH_COLOR}
         WHERE 1=1
         AND SCH_IDX=#{SCH_IDX}
    </update>

    <delete id="deleteSchedule" parameterType="map">
        /*deleteSchedule 스케줄러 물리삭제*/
        		DELETE FROM MT_SCHEDULE
				WHERE 1=1
  				AND SCH_IDX=#{SCH_IDX}
    </delete>
    
    <select id="selectNotSuccessSchedule" parameterType="map" resultType="map">
    	/*selectNotSuccessSchedule 스케줄 미처리건 조회*/
    	SELECT A.*, B.MBTLNUM
		FROM MT_SCHEDULE A LEFT JOIN MT_LETTNEMPLYRINFO 
		B ON A.SCH_WRITER = B.EMPLYR_ID
		WHERE 1=1 
		AND A.SCH_DELYN = 'N' 
		AND A.SCH_SUCCESSYN = 'N'
		AND DATE(A.SCH_START) <![CDATA[<]]> (SELECT CURDATE())
    </select>
    
    <select id="selectTodaySchedule" parameterType="map" resultType="map">
    	/*selectTodaySchedule 스케줄 당일일정 조회*/
       SELECT A.*, B.MBTLNUM
		FROM MT_SCHEDULE A LEFT JOIN MT_LETTNEMPLYRINFO 
		B ON A.SCH_WRITER = B.EMPLYR_ID
		WHERE 1=1 
		AND A.SCH_DELYN = 'N' 
		AND A.SCH_SENDYN = 'N'
		AND A.SCH_SUCCESSYN = 'N'
		AND DATE(A.SCH_START) = (SELECT CURDATE())
    </select>
    
    <select id="selectTomorrowSchedule" parameterType="map" resultType="map">
    	/*selectTomorrowSchedule 스케줄 일정 조회(1일전 조회)*/
       SELECT A.*, B.MBTLNUM
		FROM MT_SCHEDULE A LEFT JOIN MT_LETTNEMPLYRINFO 
		B ON A.SCH_WRITER = B.EMPLYR_ID
		WHERE 1=1 
		AND A.SCH_DELYN = 'N' 
		AND A.SCH_SENDYN = 'N'
		AND A.SCH_SUCCESSYN = 'N'
		AND DATE(A.SCH_START) = (SELECT ADDDATE(CURDATE(), 1))
    </select>
    
    <select id="selectThreeDaysSchedule" parameterType="map" resultType="map">
    	/*selectThreeDaysSchedule 스케줄러 일정 조회(3일전 조회)*/
       SELECT A.*, B.MBTLNUM
		FROM MT_SCHEDULE A LEFT JOIN MT_LETTNEMPLYRINFO 
		B ON A.SCH_WRITER = B.EMPLYR_ID
		WHERE 1=1 
		AND A.SCH_DELYN = 'N' 
		AND A.SCH_SENDYN = 'N'
		AND A.SCH_SUCCESSYN = 'N'
		AND DATE(A.SCH_START) = (SELECT ADDDATE(CURDATE(), 3))
    </select>
    
    <select id="selectAWeekSchedule" parameterType="map" resultType="map">
    	/*selectAWeekSchedule 스케줄러 일정알림 조회(7일전 미리조회)*/
       SELECT A.*, B.MBTLNUM
		FROM MT_SCHEDULE A LEFT JOIN MT_LETTNEMPLYRINFO 
		B ON A.SCH_WRITER = B.EMPLYR_ID
		WHERE 1=1 
		AND A.SCH_DELYN = 'N' 
		AND A.SCH_SENDYN = 'N'
		AND A.SCH_SUCCESSYN = 'N'
		AND DATE(A.SCH_START) = (SELECT ADDDATE(CURDATE(), 7))
    </select>
    
    <update id="updateScheduleSendSmsYn" parameterType="map">
        /* updateScheduleSendSmsYn 스케줄러 일정 SMS보내기 YN업데이트*/
        UPDATE MT_SCHEDULE SET 
        	SCH_SENDYN = 'Y'
        WHERE 1=1
		AND SCH_IDX=#{SCH_IDX}
    </update>
 </mapper>
